<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865197155260-0f30plg8r8g2puj00ppmlup7435mers5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865197155260-0f30plg8r8g2puj00ppmlup7435mers5</string>
	<key>API_KEY</key>
	<string>AIzaSyBb7Pm337G3lgcCT9cGae6Goie5ZSfIAPw</string>
	<key>GCM_SENDER_ID</key>
	<string>865197155260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.compa.BackFront-BFNFT</string>
	<key>PROJECT_ID</key>
	<string>bfnft-f02aa</string>
	<key>STORAGE_BUCKET</key>
	<string>bfnft-f02aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865197155260:ios:b553be272b1379cd0701b9</string>
</dict>
</plist>