<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909750810197-3i2cf826bv2hi8ss33m8s4etk5uu9kos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909750810197-3i2cf826bv2hi8ss33m8s4etk5uu9kos</string>
	<key>API_KEY</key>
	<string>AIzaSyBhMs33_oZ3Mz043POGhQi8yDlkgBJfzBM</string>
	<key>GCM_SENDER_ID</key>
	<string>909750810197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.compa.BackFront-Firebase-Crashlytics</string>
	<key>PROJECT_ID</key>
	<string>backfront-firebase-crashlytics</string>
	<key>STORAGE_BUCKET</key>
	<string>backfront-firebase-crashlytics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909750810197:ios:e0222d48e474e7ac3906dc</string>
</dict>
</plist>